@model List<JobMS.Models.Job>


    @{
    Layout = "_LayoutPublic";
    }
<div class="container mt-4">
    <h2>My Applied Jobs</h2>

    @if (!Model.Any())
    {
        <p>No jobs applied yet.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var job in Model)
            {
                <li class="list-group-item">
                    <h5>@job.JobTitle</h5>
                    <p>@job.Description</p>

                    <a asp-controller="Home"
                       asp-action="ViewDetails"
                       asp-route-id="@job.Id"
                       class="btn btn-primary btn-sm">
                        View Details
                    </a>
                </li>
            }
        </ul>
    }
</div>