@{
    ViewData["Title"] = "Application Report";
}

<h2>Application Status Report</h2>

<a asp-action="DownloadApplicationStatusReport" class="btn btn-primary">
    <i class="fas fa-download"></i> Download PDF
</a>
