@model IEnumerable<DateWiseReportVM>

<h2>Date Wise Job Report</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total Jobs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="DownloadDateWiseReport" class="btn btn-warning">
    Download PDF
</a>